.products {
    padding-top: 50px;
}

.products__content {
    gap: 50px 50px;
}

.products__item {
    width: 290px;
    margin: 0 auto;
    text-align: center;
}

.products__item-img {
    margin-bottom: 8px;
}

.products__item-price {
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
}

.products__item-title {
    margin: 12px 0 16px;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

.products__item-text {
    margin-bottom: 27px;
    font-size: 12px;
    font-weight: 400;
    height: 45px;
}

@media (max-width: 1000px) {
    .products__content {
        gap: 60px;
    }
}

@media (max-width: 980px) {
    .products__content {
        gap: 45px 20px;
    }
}

@media (max-width: 980px) {
    .products__content {
        gap: 30px 16px;
    }
}

@media (max-width: 850px) {
    .products__item {
        width: 200px;
    }
    .products__item-img {
        width: 200px;
        margin-bottom: 6px;
    }
}

@media (max-width: 768px) {
    .products__item-text {
        font-size: 10px;
        margin-bottom: 18px;
        height: 35px;
    }
    .products__item-price {
        font-size: 12px;
    }
    .products__item-title {
        font-size: 12px;
        margin: 7px 0 9px;
    }
}

@media (max-width: 460px) {
    .products__item-img,
    .products__item {
        width: 170px;
    }
}

@media (max-width: 400px) {
    .products__item-img,
    .products__item {
        width: 150px;
    }
}

@media (max-width: 360px) {
    .products__item-img,
    .products__item {
        width: 140px;
    }

    .products__content {
        gap: 40px 7px;
    }

    .products__item-price {
        font-size: 10px;
    }

    .products__item-title {
        margin: 5px 0 16px;
    }
}